{{ define "content" }}
    <div class="centered-card">
        <div class="card">
            <p>
                {{ if eq .Action "created" }}
                    Flex created: <a href="{{ .Flex }}">{{ .Flex }}</a>
                {{ else if eq .Action "updated" }}
                    Flex updated: <a href="{{ .Flex }}">{{ .Flex }}</a>
                {{ else if eq .Action "deleted" }}
                    Flex deleted: {{ .Flex }}
                {{ else }}
                    Unknown action for Flex.
                {{ end }}
            </p>
        </div>
    </div>
{{ end }}
