{{ define "content" }}
    <div class="centered-card">
        <div class="card">
            <h1>Create New Entry</h1>
            
            <form action="/set" method="POST">
                <label for="route">Flex Name (eg. yt)</label>
                <input type="text" name="route" id="route" required>
                
                <label for="flex">Route (eg. https://youtube.come)</label>
                <input type="text" name="flex" placeholder="Enter a value">
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>
{{ end }}
