{{ define "content" }}
    <div class="centered-card">
        <div class="card">
            <h1>Create New Entry</h1>
            
            <form action="/set" method="POST">
                <label for="route">Name:</label>
                <input type="text" name="route" id="route" required><br><br>
                
                <label for="flex">Destination:</label>
                <input type="text" name="flex" placeholder="Enter a value">
                <button type="submit">Submit</button>
            </form>
            
            <a href="/">Back to Home</a>
        </div>
    </div>
{{ end }}
