            
{{ define "content" }}
    <div class="centered-card">
        <div class="card">
            <h1>Delete Entry</h1>
            
            <form action="/deleteme" method="POST" onsubmit="return validateForm()">
                <label for="route">Flex Name</label>
                <select name="route" id="route" class="select-dropdown">
                    {{range $key, $value := .}}
                    <option class="dropdown" value="{{$key}}">{{$key}}</option>
                    {{end}}
                </select>
                
                <label for="flex">Type name to confirm delete</label>
                <input type="text" name="flex" id="flex" placeholder="Enter a value">
                <button type="submit">Submit</button>

            </form>
            
        </div>
    </div>


    <script>
        function validateForm() {
            // Get the selected route from the dropdown
            var selectedRoute = document.getElementById("route").value;

            // Get the value entered by the user
            var enteredFlex = document.getElementById("flex").value;

            // Check if the selected route matches the entered flex
            if (selectedRoute === enteredFlex) {
                return true; // Form submission allowed
            } else {
                alert("Route and Flex values do not match. Please select the correct Route.");
                return false; // Form submission blocked
            }
        }
    </script>
{{ end }}
