{{ define "content" }}
  <div class="row">
      <div class="column side">
        <h2>Pinned Flexes</h2>
        <p>This could be common links we decide to pin</p>
                <p><a href="test1">re/test1</a>: test1</p>
                <p><a href="test1">re/test1</a>: test1</p>
                <p><a href="test1">re/test1</a>: test1</p>
                <p><a href="test1">re/test1</a>: test1</p>
                <p><a href="test1">re/test1</a>: test1</p>
      </div>
      
      <div class="column middle">
        <h1>All Flexes</h1>
            {{range .}}
            <div class="item">
                <div class="card-header"><a href="{{.Value}}">re/{{.Key}}</a></div>
                <div class="card-text">{{ .Value }}</div>
            </div>
            {{end}}
      </div>
      
      <div class="column side">
        <h2>Recent Changes</h2>
        </p>This could be most recent changes</p>
        <p>git changed from ado to github</p>
        <p>deploy changed from ado to ArgoCD</p>
        <br>

        <h2>Most Used</h2>
        </p>This could be most used custom flexes</p>
        </p>git with 765 hits</P>
        </p>yt with 65 hits</P>
        </p>ado with 5 hits</P>

      </div>
  </div>
{{ end }}
