{{ define "content" }}
    <div class="centered-card">
        <div class="card">
            <h1>Edit Entry</h1>
            
            <form action="/set" method="POST">
                <label for="route">Name (eg. yt)</label>
                <select name="route" id="route" class="select-dropdown">
                    {{range $key, $value := .}}
                    <option value="{{$key}}">{{$key}}</option>
                    {{end}}
                </select>
                
                <label for="flex">New route (eg. https://google.com)</label>
                <input type="text" name="flex" placeholder="Enter a value">
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>
{{ end }}
